<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="La Disciplina es requerida !.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Elija la Disciplina para el Torneo</ng-template>
      <mat-form-field>
        <mat-select formControlName="disciplina"  (selectionChange)="cargarEquiposPorDisciplina($event.value)" >
          <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.id"  >
            {{disciplina.nombre}} {{disciplina.categoria}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
     
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Los Equipos son requeridos!.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Elija los Equipos</ng-template>
 <mat-form-field>
      
          <mat-chip-list #chipGrid aria-label="Fruit selection">
            <mat-chip *ngFor="let equipo of equipos" (removed)="remove(equipo.nombre)">
              {{equipo.nombre.toUpperCase()}}
              <button matChipRemove [attr.aria-label]="'remove ' + equipo">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>

       
  
  
</mat-form-field>

      <div>
     
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirmar</ng-template>
    <p>confirmar para terminar.</p>
    <div>
      <button mat-button matStepperPrevious>Atras</button>
      <button mat-button (click)="cancelar()">Cancelar</button>
      <button mat-button (click)="crearTorneo()">Crear Torneo</button>

    </div>
  </mat-step>
</mat-stepper>
